@import url('https://fonts.googleapis.com/css2?family=Borel&family=Preahvihear&family=Roboto+Mono:ital,wght@0,200;0,300;0,500;1,200;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Preahvihear', sans-serif;


}

.container {
    background-image: url(https://images.pexels.com/photos/6985001/pexels-photo-6985001.jpeg?cs=srgb&dl=pexels-codioful-%28formerly-gradienta%29-6985001.jpg&fm=jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding-top: 50px;
    /* padding-left: 370px; */
    display: flex;
    justify-content: center;
    background-color: #E9FFC2;
    /* text-align: center; */
}

.box {
    background-color: #e1ecc863;
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: auto;
    width: 500px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: -1px 1px 5px #abaeae;

    /* background-image: linear-gradient(pink, rgb(235, 165, 165), skyblue); */
}

h1{
    text-align: center;
    color: rgb(250, 250, 250);
    padding: 20px;
    font-variant: small-caps;
 }

.row {
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    background: #faf3dd;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    box-shadow: -0.3px 0.2px 5px #abaeae;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;

}

button {
    border: none;
    outline: none;
    padding: 0% 20px;
    background-color: orange;
    border-radius: 30px;
    font-size: 30px;
}

button:hover{
    scale: 1.1;
    transition-duration: 1s;
    cursor: pointer;
    /* border-radius: 4px; */
}


ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: flex-start;
    
}

li:hover{
    scale: 1.01;
    transition-duration: 1s;
    cursor: pointer;
}

li {
    background-color: #edeef0;
    border-radius: 30px;
    box-shadow: -0.3px 0.2px 5px #abaeae;
    width: auto;
    padding: 10px;
    margin: 5px;
    position: relative;
    top: 10px;
    /* padding-right: 30px; */
    padding-left: 20px;


    /* justify-content: space-between; */
}

a {
    padding-left: 20px;
    border: 1px;
    color: #838181;
    
    
}


/* ---------------------custom scroll bar------------------------------ */

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: #83818137;
    border-radius : 10px
    
}